.button {
  @include font($secondary-font, 400, 16px, 1.25);
  padding: 10px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: $light-base-color;
  background-color: $bg-accent-color;
  border: none;
}

.button--more {
  color: $primary-text-color;
  background-color: $bg-primary-color;
}
