.card {
  padding: 20px 0 25px;
  display: grid;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 140px);
    grid-template-areas: "img title" "img desc" "button button";
  }

  @media (min-width: 768px) {
    grid-template-columns: 250px;
    justify-items: center;
    padding: 10px 37px 40px;
    background-image: linear-gradient(180deg, transparent 85px, $bg-primary-color 85px);
    margin-bottom: 60px;
  }

  @media (min-width: 1440px) {
    padding: 0 38px 40px;
    grid-template-columns: 169px;
  }
}

.card--more {
  background-color: $light-base-color;
  background-image: none;
  outline: solid 1px $bg-primary-color;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    width: 324px;
    height: 400px;
    justify-content: flex-end;
    transform: translateY(85px);
  }

  @media (min-width: 1440px) {
    width: 245px;
  }
}

// .card--more::before {
//   @include pseudo(30px, 1px);
// }

// .card--more::after {
//   @include pseudo(30px, 1px);
// }

.card__image {
  place-self: center center;

  @media (max-width: 767px) {
    grid-area: img;
  }

  @media (min-width: 768px) {
    height: 210px;
    object-fit: none;
  }
}

.card__title {
  @include font($secondary-font, 400, 16px, 1.25);
  text-transform: uppercase;
  color: $secondary-text-color;
  width: 80px;
  margin-bottom: 14px;

  @media (max-width: 767px) {
    grid-area: title;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    width: 135px;
    margin-bottom: 20px;
  }
}

.card__title--more {
  width: 219px;
  color: #111111;
  margin-bottom: 8px;

  @media (min-width: 768px) {
    width: 150px;
    margin-bottom: 23px;
  }
}

.card__desc {
  @include font($primary-font, 400, 12px, 1.33);
  color: $primary-text-color;
  justify-self: stretch;
  margin-bottom: 21px;

  @media (max-width: 767px) {
    grid-area: desc;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 37px;
  }
}

.card__desc--more {
  @media (min-width: 768px) {
    width: 170px;
    margin: 0;
    margin-bottom: 82px;
  }
}

.card__char {
  display: flex;
  justify-content: space-between;
}

.card__char:not(:last-child) {
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.card__button {
  @media (max-width: 767px) {
    grid-area: button;
  }
}
