.contacts {
  position: relative;
  margin-bottom: -6px;
}

.contacts__location {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: space-between;
  background-color: $light-base-color;

  @media (min-width: 768px) {
    padding: 50px 70px;
  }

  @media (min-width: 1440px) {
    padding: 60px 80px;
    position: absolute;
    top: 35%;
    left: 10%;
  }
}

.contacts__location--second {
  background-color: $bg-primary-color;

  @media (min-width: 1440px) {
    background-color: $light-base-color;
  }
}

.contacts__title {
  @include font($secondary-font, 400, 16px, 1.25);
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  @include font($primary-font, 400, 14px, 1.43);
  color: $primary-text-color;
  margin: 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    text-align: right;
  }
}
