.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba($bg-accent-color, 0.83) 60%, $light-base-color 60%), url("../../images/hero/hero-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% auto;
  color: $light-base-color;

  @media (min-width: 768px) {
    background-image: none;
    color: $dark-base-color;
  }

  @media (min-width: 1440px) {
    background-image: linear-gradient(-90deg, rgba($bg-accent-color, 0.83) 60%, $light-base-color 60%), url("../../images/hero/hero-cat-mobile@1x.png");
  }
}

.hero__title {
  @include font($secondary-font, 400, 36px, 1);
  order: -2;
}

.hero__slogan {
  @include font($secondary-font, 400, 14px, 1);
  text-transform: uppercase;
  order: -2;
}

.hero__image-product {
  z-index: 1;
}

.hero__link {
  @include font($secondary-font, 400, 16px, 1.25);
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  background-color: $bg-accent-color;
  color: $light-base-color;
  text-transform: uppercase;
  order: -1;
  z-index: 2;
  margin-top: 40px;
}
