.main-header {
  padding: 13px 20px 0;
  background-color: $light-base-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding: 10px 30px 0;
  }

  @media (min-width: 1440px) {
    padding: 55px 110px 0;
  }
}

.main-header--index {
  @media (min-width: 1440px) {
    position: absolute;
    width: 1440px;
    background-color: transparent;
    color: $light-base-color;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;

  @media (min-width: 768px) {
    width: 175px;
  }

  @media (min-width: 1440px) {
    width: 205px;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  border: none;

  @media (min-width: 768px) {
    display: none;
  }
}
