.program {
  width: 320px;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    padding: 0 30px;
    margin-top: -80px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    padding: 82px 110px 71px;
  }
}

.program__list {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.program__item {
  background-color: $bg-primary-color;
  position: relative;
  padding: 30px 20px 18px;

  @media (min-width: 768px) {
    padding: 77px 52px 53px;
  }

  @media (min-width: 1440px) {
    padding: 77px 61px 55px 52px;
  }
}

.program__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.program__item::before {
  @include pseudo(50px, 50px);
  border-radius: 50%;
  background-color: $bg-accent-color;
  position: absolute;
  top: 25px;

  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
    top: 20%;
    right: 60px;
  }

  @media (min-width: 1440px) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.program__item--slim::after {
  @include pseudo(36px, 50px);
  @include icon(url("../../icons/stack.svg#black-cat-slim"), 36px 50px);
  position: absolute;
  top: 22px;
  left: 27px;

  @media (min-width: 768px) {
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
    top: 55px;
    left: 480px;
  }

  @media (min-width: 1440px) {
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
    top: 41px;
    left: 67px;
  }
}

.program__item--pro::after {
  @include pseudo(67px, 28px);
  @include icon(url("../../icons/stack.svg#black-cat-pro"), 67px 28px);
  position: absolute;
  top: 38px;
  left: 12px;

  @media (min-width: 768px) {
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
    top: 114px;
    left: 419px;
  }

  @media (min-width: 1440px) {
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
    top: 67px;
    left: 33px;
  }
}

.program__title {
  @include font($secondary-font, 400, 24px, 1.54);
  text-transform: uppercase;
  margin-bottom: 29px;
  display: block;
  margin-left: 65px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 1;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: 1440px) {
    margin-left: 159px;
    margin-bottom: 73px;
  }
}

.program__description {
  @include font($primary-font, 400, 14px, 1.29);
  color: $primary-text-color;
  margin-bottom: 23px;

  @media (min-width: 768px) {
    color: $dark-base-color;
    font-size: 16px;
    line-height: 1.5;
    width: 340px;
    margin-bottom: 48px;
  }

  @media (min-width: 1440px) {
    width: 451px;
    margin-bottom: 30px;
  }
}

.program__link {
  @include font($secondary-font, 400, 16px, 1);
  text-transform: uppercase;
  color: $dark-base-color;
  position: relative;

  @media (max-width: 767px) {
    border-top: solid 1px #d9d9d9;
    display: block;
    padding-top: 15px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.program__link:hover.program__link::after,
.program__link:focus.program__link::after {
  transform: translateX(3px);
}

.program__link:focus {
  opacity: 0.6;
  outline: none;
}

.program__link:active {
  opacity: 0.3;
}

.program__link::before {
  @include pseudo(10px, 2px);
  background-color: $dark-base-color;
  position: absolute;
  top: 22px;
  left: 100px;

  @media (min-width: 768px) {
    top: 14px;
    left: 130px;
  }
}

.program__link::after {
  @include pseudo(32px, 10px);
  background-image: url("../../icons/stack.svg#icon-arrow");
  position: absolute;
  top: 18px;
  left: 100px;

  @media (min-width: 768px) {
    top: 10px;
    left: 130px;
  }
}
