.promo {
  width: 280px;
  height: 290px;
  color: $light-base-color;
  background-image: url("../../images/promo/promo-cat-mobile@1x.png");
}

// .promo::before {
//   @include pseudo(280px, 290px);
//   background-color: rgba($bg-accent-color, 0.85);
// }

.promo__text {
  @include font($primary-font, 400, 16px, 1.25);
  width: 161px;
  text-align: center;
  position: relative;
}

.promo__text::before {
  @include pseudo(78px, 80px);
  background-color: $light-base-color;
  mask-image: url("../../icons/stack.svg#icon-gift");
  position: absolute;
}
