.result {
  display: flex;
  flex-direction: column;
  background-color: $bg-secondary-color;
  padding: 25px auto;

  @media (min-width: 768px) {
    background-image: linear-gradient(180deg, $light-base-color 60%, $bg-secondary-color 60%);
  }

  @media (min-width: 1440) {
    align-items: flex-start;
  }
}

.result__title {
  @include font($secondary-font, 400, 36px, 1.11);
}

.result__text {
  @include font($primary-font, 400, 14px, 1.29);
  color: $primary-text-color;
}

.result__list {
  display: flex;
  justify-content: space-around;
}

.result__value {
  @include font($secondary-font, 400, 24px, 1);
}

.result__criteria {
  @include font($primary-font, 400, 12px, 1);
  color: $primary-text-color;
}

.result__costs {
  @include font($secondary-font, 400, 14px, 1.43);
  text-transform: uppercase;
  text-align: center;
}

.result__slider {
  align-self: center;

  @media (min-width: 1440) {
    align-self: self-end;
  }
}
