.slider {
  position: relative;
}

.slider__toggle {
  width: 4px;
  height: inherit;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.slider__toggle::before {
  @include pseudo(40px, 40px);
  border: solid 2px #666666;
  border-radius: 50%;
  background-color: $light-base-color;
  position: absolute;
  top: 110px;
  left: -18px;

  @media (min-width: 768px) {
    top: 240px;
  }
}

.slider__toggle::after {
  @include pseudo(24px, 18px);
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#toggle");
  position: absolute;
  top: 121px;
  left: -10px;

  @media (min-width: 768px) {
    top: 250px;
  }
}

.slider__fat {
  overflow-x: hidden;
  width: 50%;
}

.slider__slim {
  overflow-x: hidden;
  width: 50%;
  transform: translate(102.8%, -100%);

  @media (min-width: 768px) {
    transform: translate(101.4%, -100%);
  }
}

.slider__image--slim-cat {
  transform: translateX(-50%);
}
